body {
	color: #999;
	font-family: sans-serif;
	line-height: 1.4;
  margin: 0;
}

a {
	color: #666;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #222;
}

table {
	border-collapse: collapse;
  margin: 0 auto;
  max-width: 40em;
	width: 100%;
}

@media (min-width: 35em) {
  table {
    border-radius: 0.25em;
  }
}

th,
td {
  border-bottom: 1px solid #eee;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

th:not(:nth-child(2)),
td:not(:nth-child(2)) {
  width: 1%;
}

th {
  font-size: 0.75em;
  padding: 0.5em 0 0.5em;
}

td {
  padding: 0 1em 0 0;
}

tr:hover td {
  background-color: #f9f9f9;
}

td:first-child {
  padding-left: 1em;
  padding-right: 0.5em;
}

td a,
td img {
  display: block;
}

td a {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

@media (max-width: 30em) {
	tr:first-child,
	td:nth-child(3) {
		display: none;
	}
}

#filter {
	background: #f5f5f5;
	border-color: #ccc;
	border-radius: 0;
	border-style: solid;
	border-width: 0 0 3px;
	box-shadow: none;
	box-sizing: border-box;
	color: inherit;
	display: block;
	font: inherit;
	font-size: 1.5rem;
	margin: 0 auto;
	max-width: 40rem;
	outline: 0;
	padding: 0.75rem 1rem;
	width: 100%;

	-moz-appearance: none;
	-webkit-appearance: none;
}

#filter:focus {
	border-color: #0074D9;
	color: #222;
}

.asc:after,
.desc:after {
	content: "";
	display: inline-block;
	margin-left: 0.375em;
	vertical-align: middle;
	border: 0.375em solid transparent;
}

.asc:after {
	border-top-color: currentColor;
	border-bottom-width: 0;
}

.desc:after {
	border-bottom-color: currentColor;
	border-top-width: 0;
}

.footer {
  padding: 1em 0;
  text-align: center;
}

.footer a {
  color: #0074D9;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 600;
  padding: 1em;
}

.footer a:focus,
.footer a:hover {
  background-color: #eee;
}
